@page
@model DemoAPI.Controllers.HomeController

<html>
<head>
    <title>
        Home Page
    </title>
</head>

<body>
    <h1> Welcome to API Test Page </h1>

    <!-- Button or link to call Demographic API -->
    <a href="/api/externalapi/fetch-data" target="_blank">
        <button>
            Demogrphics
        </button>
    </a>
</body>
</html>

